<header class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{or siteRootPath (or site.url siteRootPath)}}">{{site.title}}</a>
    <button class="navbar-burger" data-target="topbar-nav">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div id="topbar-nav" class="navbar-menu">
    <div class="navbar-end">
      {{!-- Dark mode toggle will be injected here by JS --}}
    </div>
  </div>
</header>
